@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');
@import "slick.css";

$large-breakpoint: 1200px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

$text-font: 'Work Sans', sans-serif;
$text-color: #8e8e98;
$accent-color: #1c1c1e;

*:focus {
  outline: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

svg {
  overflow: hidden;
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: 12px;
  overflow-x: hidden;
}

.page-container {
  background-color: #000000;
}

header {

  .header-logo-and-menu-background {
    background: #000000;

    .header-logo-and-menu {
      width: 1052px;
      margin: 0 auto;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #000000;

      .logo {
        flex-grow: 1;

        a {
          background-color: #000000;

          img {
            width: 170px;
            height: 66px;
          }
        }
      }

      .menu-main-menu-container {

        ul {
          display: flex;
          justify-content: center;

          li {
            list-style: none;
            margin-left: 20px;

            a {
              text-decoration: none;
              color: #8e8e98;
              font-weight: 400;
              font-size: 16px;
              padding-bottom: 5px;
              transition: 0.5s;

              &:hover {
                color: #FFFFFF;
                transition: 0.5s;
              }

              @media only screen and (max-width: $small-breakpoint) {
                padding: 0 15px;
                font-size: 13px;
              }
            }

            &.current-menu-item {
              a {
                color: #FFFFFF;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              display: flex;
              justify-content: flex-end;
              margin-bottom: 10px;
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            flex-direction: column;
            padding-top: 10px;
          }
        }

        &.is-active {
          display: flex;
          position: absolute;
          background-color: #000000;
          top: 70px;
          width: 100%;
          left: 0;
          justify-content: flex-end;
          z-index: 999999999;
          text-transform: uppercase;

          #menu-item-53 {
            a{
              margin-right: 15px;
            }
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          display: none;
        }

        #menu-item-53 {
          a {
            background-color: #f53b3b;
            border-radius: 8px;
            padding: 10px 15px;
            color: #000000;

            &:hover {
              color: #FFFFFF;
              background-color: #1c1c1e;
            }
          }
        }
      }

      .hamburger {
        display: none;

        @media only screen and (max-width: $small-breakpoint) {
          display: block;
          position: absolute;
          right: 15px;
          top: 8px;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}

.page-content {
  width: 1052px;
  margin: 0 auto;
  padding: 175px 0 100px 0;

  &.page-casinos {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &.page-sport{
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &.page-guides {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  &.page-info {
    padding-top: 1px;
    padding-bottom: 30px;
  }

  &.single-post {
    padding-top: 1px;
    padding-bottom: 70px;
  }

  @media only screen and (max-width: $large-breakpoint) {
    width: 100%;
    padding: 175px 15px 100px 15px;
  }

  @media only screen and (max-width: $mini-breakpoint) {
    padding: 40px 15px 30px 15px;
  }
}

.home-wave {
  padding-top: 170px;
  position: relative;

  .animation {
    position: absolute;
    width: 100%;
    border: none;
    left: 0;
    height: 100%;
  }

  .home-wave-container {
    width: 1052px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 170px;
    margin: auto;

    .home-wave-logo {
      img {
        width: 249px;
        height: 43px;
      }
    }

    .home-wave-text {
      width: 700px;

      a {
        text-decoration: none;

        h1 {
          font-size: 120px;
          font-weight: 600;
          color: #FFFFFF;

          @media only screen and (max-width: $medium-breakpoint) {
            font-size: 90px;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 40px;
          }
        }

        &:hover {
          h1 {
            transition: 0.5s;
            text-decoration: underline;
          }
        }
      }

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 70px;
        width: 100%;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      top: 20px;
    }
  }

  .home-wave-container-invisible {
    width: 1052px;
    margin: 0 auto;
    visibility: hidden;

    .home-wave-text {
      width: 700px;

      a {
        text-decoration: none;

        h1 {
          font-size: 120px;
          font-weight: 600;
          color: #FFFFFF;

          @media only screen and (max-width: $medium-breakpoint) {
            font-size: 90px;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 40px;
          }
        }

        &:hover {
          h1 {
            transition: 0.5s;
            text-decoration: underline;
          }
        }
      }

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 70px;
        width: 100%;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }

  @media only screen and (max-width: $mini-breakpoint) {
    padding-top: 20px;
  }
}

.slide {
  width: 1052px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;

  .slide-casino {
    .slider-container-casino {
        display: flex;

      .slide-casino-content {
        align-items: center;
        width: 100%;
        padding: 15px 20px 15px 60px;
        display: flex;
        background: #1c1c1e;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .slide-casino-logo {
          img {

          }
        }

        .slide-casino-bonus {
          display: flex;
          margin-left: 20px;

          h3 {
            font-size: 22px;
            font-weight: 700;
            color: #FFFFFF;
            margin-right: 10px;

            @media only screen and (max-width: $mini-breakpoint) {
              font-size: 18px;
            }
          }

          h4 {
            color: #8e8e98;
            font-size: 22px;
            font-weight: 700;
          }

          @media only screen and (max-width: $small-breakpoint) {
            flex-direction: column;
            text-align: center;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin-top: 10px;
            margin-left: 0;
          }
        }

        .slide-casino-name {
          margin-left: 10px;
          font-size: 15px;
          color: #FFFFFF;

          span {
            color: #8e8e98;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin-top: 10px;
            margin-left: 0;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 13px;
          }
        }

        @media only screen and (max-width: $medium-breakpoint) {
          flex-direction: column;
          border-bottom-right-radius: 0;
          border-top-right-radius: 5px;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          text-align: center;
          padding: 20px;
        }
      }

      .slide-casino-button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background: #72727a;
        transition: 0.5s;

        a {
          font-size: 15px;
          padding: 20px 16px 20px 27px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #efeff0;
          width: 100%;
          height: 100%;

          @media only screen and (max-width: $medium-breakpoint) {
            justify-content: center;
          }
        }

        &:hover {
          background: #ee3b3f;
          transition: 0.5s;
        }

        @media only screen and (max-width: $medium-breakpoint) {
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 0;
          width: 100%;
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
        flex-flow: wrap;
        flex-direction: row;
      }
    }

    .slide-terms {
      color: #FFFFFF;
      font-size: 13px;

      p {
        line-height: 18px;
        margin-top: 10px;
        padding: 8px;
        border: #39393d solid 1px;
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        color: #65656c;
        margin-left: 5px;

        &:hover {
          border-bottom: 1px solid #65656c;
        }
      }

      svg {
        padding-top: 9px;
        color: #f53b3b;
        width: 11px;
        height: 18px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 12px;
      }
    }

    @media only screen and (max-width: $medium-breakpoint) {
      flex-flow: wrap;
      flex-direction: row;
    }
  }

  .slick-next {
    width: 9px;
    height: 15px;
    position: absolute;
    right: 130px;
    top: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      right: 50px;
      top: 50px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      right: 20px;
      display: none;
    }
  }

  .slick-prev {
    position: absolute;
    left: 20px;
    top: 22px;
    width: 9px;
    height: 15px;
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.7;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      left: 50px;
      top: 50px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      left: 20px;
      display: none;
    }
  }

  @media only screen and (max-width: $large-breakpoint) {
    width: 100%;
    padding: 0 15px;
  }
}

.slick-list {
  width: 100%;
}

.slick-track {
  width: 100%;
}

.slick-slide {
  width: 100%;
}

.recommended-casinos {
  .recommended-casinos-text {
    h2 {
      font-weight: 700;
      font-size: 33px;
      color: #FFFFFF;

      span {
        font-weight: 600;
        color: #8e8e98;
      }

      svg {
        width: 55px;
        height: 27px;

        .st0 {
          fill:#FFC83D;
        }

        .st1 {
          fill:#64798A;
        }

        .st2 {
          fill:#EBF0F3;
        }
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }
  }

  .recommended-casinos-container {
    display: flex;
    justify-content: space-between;

    .recommended-casinos-box {
      padding: 30px 30px 20px 30px;
      width: 510px;
      border-radius: 5px;
      margin-top: 40px;
      background-color: #1c1c1e;
      position: relative;
      height: 700px;

      .recommended-casinos-box-name {
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 5px;

        span {
          color: #8e8e98;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 15px;
        }
      }

      .recommended-casinos-box-rating {

        .star-ratings {
          width: 83px;
          unicode-bidi: bidi-override;
          color: #72727a;
          font-size: 20px;
          position: relative;
          padding: 0;

          .fill-ratings {
            color: #ffc83d;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden;
            // Allows us to grab the width of the span elements
            span {
              display: inline-block;
            }
          }

          .empty-ratings {
            padding: 0;
            display: block;
            z-index: 0;
          }
        }

        @media only screen and (max-width: $medium-breakpoint) {
          align-items: center;
          flex-flow: column;
          display: flex;
        }
      }

      .recommended-casinos-box-logo {
        margin-top: 35px;

        img {

        }
      }

      .recommended-casinos-box-bonus {
        padding-top: 60px;

        h3 {
          font-size: 33px;
          font-weight: 700;
          color: #FFFFFF;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 25px;
          }
        }

        h4 {
          color: #8e8e98;
          font-size: 33px;
          font-weight: 700;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 25px;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          padding-top: 30px;
        }
      }

      .mawkurs {
        position: relative;
        width: 100%;

        .recommended-casinos-box-button-info {
          position: absolute;
          width: 100%;
          top: 50px;

          .recommended-casinos-box-button {
            display: flex;
            align-items: center;
            margin-top: 30px;
            height: 58px;
            border: 1px solid #8e8e98;
            border-radius: 5px;
            transition: 0.5s;

            a {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              font-size: 15px;
              color: #fff;
              width: 100%;

              @media only screen and (max-width: $mini-breakpoint) {
                font-size: 13px;
              }
            }

            &:hover {
              background-color: #8e8e98;
              transition: 0.5s;
            }
          }

          .recommended-casinos-box-terms-info {
            margin-top: 10px;

            p {
              font-size: 13px;
              color: #fefeff;
              line-height: 18px;
              border: 1px solid #39393d;
              border-radius: 5px;
              padding: 10px;

              @media only screen and (max-width: $mini-breakpoint) {
                font-size: 12px;
              }
            }
          }
        }

      }

      .recommended-casinos-box-terms-link {
        font-size: 13px;
        margin-top: 50px;
        display: flex;

        a {
          text-decoration: none;
          color: #8e8e98;

          &:hover {
            border-bottom: 1px solid #8e8e98;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 12px;
          margin-top: 30px;
        }

        .recommended-casinos-box-svg {
          padding-left: 5px;
          svg {
            color: #f53b3b;
            width: 11px;
            height: 18px;
          }
        }

        @media only screen and (max-width: $medium-breakpoint) {
          justify-content: center;
        }
      }



      &.background-featured {
         background: #1c1c1e url(assets/images/suit.png) no-repeat 282px -38px;
       }

      &.background-casino {
        background: #1c1c1e url(assets/images/suit.png) no-repeat 282px -38px;
      }

      &.background-sport {
        background: #1c1c1e url(assets/images/award.png) no-repeat 211px 10px;
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 49%;
      }

      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
        text-align: center;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        padding: 15px;
        height: 600px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      flex-flow: wrap;
      flex-direction: row;
    }
  }

  .recommended-casinos-paragraph {
    margin-top: 100px;
    margin-bottom: 50px;

    h2 {
      font-size: 96px;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 96px;

      @media only screen and (max-width: $medium-breakpoint) {
        font-size: 70px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 40px;
        line-height: 50px;
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      margin-top: 40px;
      margin-bottom: 0;
    }
  }
}

.online-casinos {
  margin-top: 100px;

  .online-casinos-text {
    h2 {
      font-weight: 700;
      font-size: 33px;
      color: #FFFFFF;

      span {
        font-weight: 600;
        color: #8e8e98;
      }

      svg {
        width: 55px;
        height: 27px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }
  }

  .online-casinos-container {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .online-casinos-box {
      padding: 15px 15px 20px 15px;
      border-radius: 5px;
      background: #1c1c1e;
      width: 240px;
      height: 380px;
      margin-bottom: 30px;
      position: relative;

      .online-casinos-inside {
        .online-casinos-box-logo {
          margin-top: 15px;

          img {

          }
        }

        .online-casinos-box-name {
          font-size: 15px;
          color: #FFFFFF;
          margin-top: 35px;

          span {
            color: #8e8e98;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 13px;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            margin-top: 25px;
          }
        }

        .online-casinos-box-rating {
          .star-ratings {
            width: 83px;
            unicode-bidi: bidi-override;
            color: #72727a;
            font-size: 20px;
            position: relative;
            padding: 0;

            .fill-ratings {
              color: #ffc83d;
              padding: 0;
              position: absolute;
              z-index: 1;
              display: block;
              top: 0;
              left: 0;
              overflow: hidden;
              // Allows us to grab the width of the span elements
              span {
                display: inline-block;
              }
            }

            .empty-ratings {
              padding: 0;
              display: block;
              z-index: 0;
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
            justify-content: center;
            display: flex;
          }
        }

        .online-casinos-box-bonus {
          padding-top: 20px;

          h3 {
            font-size: 22px;
            font-weight: 700;
            color: #FFFFFF;

            @media only screen and (max-width: $mini-breakpoint) {
              font-size: 18px;
            }
          }

          h4 {
            color: #8e8e98;
            font-size: 22px;
            font-weight: 700;
          }
        }

        &.opened {
          display: none;
          transition: 5s;

          }
        }

        @media only screen and (max-width: $large-breakpoint) {
        width: 49%;
        text-align: center;
        height: unset;
      }

        @media only screen and (max-width: $small-breakpoint) {
        width: 100%;
      }
      }

      .hide-paragraph {
        display: none;
        transition: 5s;

        h4 {
          font-family: "Work Sans", sans-serif ;
          font-size: 13px;
          line-height: 21px;
          color: #8e8e98;
          margin-bottom: 10px;
        }

        p {
          font-family: "Work Sans", sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          text-align: justify;
        }

        @media only screen and (max-width: $large-breakpoint) {
          height: 65%;
        }
        @media only screen and (max-width: $small-breakpoint) {
          height: 190px;
        }
        @media only screen and (max-width: $mini-breakpoint) {
          height: 175px;
        }
      }

      .online-casinos-box-terms-link-button {
        position: absolute;
        bottom: 20px;
        margin-top: 30px;
        width: 87%;

        a {
          text-decoration: none;

          @media only screen and (max-width: $large-breakpoint) {
            display: flex;
            justify-content: center;
          }
        }

        .first-text {
          display: flex;
          font-size: 13px;
          text-decoration: none;
          color: #8e8e98;

          svg {
            color: #f53b3b;
            width: 11px;
            height: 18px;
            margin-left: 5px;
          }

          &:hover {
            border-bottom: 1px solid #8e8e98;
          }
        }

        .online-casinos-box-terms-link {
          font-size: 13px;
          display: flex;

          a {
            text-decoration: none;
            color: #8e8e98;

            .second-text {
              display: none;
            }
          }

          .online-casinos-box-svg {
            padding-left: 5px;
            display: flex;
            align-items: center;

            .svg-text {
              display: none;
            }

            svg {
              color: #f53b3b;
              width: 11px;
              height: 18px;
            }
          }

          &:hover {
            a {
              border-bottom: 1px solid #8e8e98;

              .first-text {
                display: none;
              }

              .second-text {
                display: block;
              }
            }

            .online-casinos-box-svg {
              .svg-text {
                display: block;
                color: #f53b3b;
                margin-right: 5px;
              }
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
           justify-content: center;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 12px;
            margin-top: 30px;
          }
        }

        .online-casinos-box-button {
          display: flex;
          align-items: center;
          margin-top: 25px;
          height: 38px;
          border: 1px solid #8e8e98;
          border-radius: 5px;
          transition: 0.5s;

          a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            width: 100%;

            @media only screen and (max-width: $mini-breakpoint) {
              font-size: 13px;
            }
          }

          &:hover {
            background-color: #8e8e98;
            transition: 0.5s;
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
         position: unset;
          width: 100%;
        }

      }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      flex-flow: wrap;
      flex-direction: row;
    }
    }

  &.top-bonuses-online-casinos {
    margin-top: 0;
  }

  @media only screen and (max-width: $mini-breakpoint) {
    margin-top: 40px;
  }
}

.best-online-casinos-container {
  margin-top: 40px;

  .best-online-casinos-box {
    background: #1c1c1e;
    border-radius: 5px;
    display: flex;

    .best-nr {
      background: #141414;
      padding: 40px 8px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;

      p {
        font-size: 13px;
        font-weight: bold;
      }

      @media only screen and (max-width: $medium-breakpoint) {
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        padding: 20px;
      }
    }

    .best-logo {
      padding: 35px 20px 35px 10px;

      img {

      }

      @media only screen and (max-width: $medium-breakpoint) {
        padding: 35px 0;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        padding: 25px 0;
      }
    }

    .best-name-rating {
      padding: 30px 30px 0 0;

      .best-name {
        font-size: 15px;
        color: #FFFFFF;

        span {
          color: #8e8e98;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 13px;
        }
      }

      .best-rating {
        .star-ratings {
          width: 83px;
          unicode-bidi: bidi-override;
          color: #72727a;
          font-size: 20px;
          position: relative;
          padding: 0;

          .fill-ratings {
            color: #ffc83d;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden;
            // Allows us to grab the width of the span elements
            span {
              display: inline-block;
            }
          }

          .empty-ratings {
            padding: 0;
            display: block;
            z-index: 0;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            display: inline-block;
          }
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
        padding: 0;
      }
    }

    .best-bonus {
      display: flex;
      flex-grow: 1;
      padding-top: 30px;

      h3 {
        font-size: 22px;
        font-weight: bold;
        color: #FFFFFF;
        margin-right: 10px;
      }

      h4 {
        color: #8e8e98;
        font-size: 22px;
        font-weight: bold;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 18px;
        padding-top: 15px;
      }

      @media only screen and (max-width: $medium-breakpoint) {
        justify-content: center;
        flex-direction: column;
        padding: 0 5px;
      }
    }

    .best-button-link {
      padding: 0 10px;

      .best-button {
        display: flex;
        align-items: center;
        margin-top: 12px;
        height: 38px;
        border: 1px solid #8e8e98;
        border-radius: 5px;
        transition: 0.5s;

        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 15px;
          color: #fff;
          width: 100%;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 13px;
          }
        }

        &:hover {
          background-color: #8e8e98;
          transition: 0.5s;
        }
      }

      .best-link {
        display: flex;
        font-size: 13px;
        margin-top: 14px;

        a {
          text-decoration: none;
          color: #8e8e98;

          &:hover {
            border-bottom: 1px solid #8e8e98;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 12px;
        }

        .best-link-svg {
          padding-left: 5px;

          svg {
            color: #f53b3b;
            width: 11px;
            height: 18px;
          }
        }

        @media only screen and (max-width: $medium-breakpoint) {
          justify-content: center;
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
        padding: 15px;
        margin-bottom: 15px;
      }

      @media only screen and (max-width: $large-breakpoint) {

      }
    }

    @media only screen and (max-width: $medium-breakpoint) {
      flex-direction: column;
      text-align: center;
    }
  }

  .best-online-casinos-paragraph {
    padding-top: 10px;
    padding-bottom: 30px;

    p {
      border: 1px solid #39393d;
      border-radius: 5px;
      padding: 7px;
      font-size: 13px;
      color: #FFFFFF;
      line-height: 18px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 12px;
      }
    }
  }
}

.casino-guides {
  .casino-guides-text {
    margin-bottom: 45px;

    h2 {
      font-weight: 700;
      font-size: 33px;
      color: #FFFFFF;

      span {
        font-weight: 600;
        color: #8e8e98;
      }

      svg {
        width: 55px;
        height: 27px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }
  }

  .casino-guides-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .casino-guides-box {
      margin-bottom: 30px;
      width: 238px;
      border-radius: 5px;
      background: #1c1c1e;
      transition: 0.5s;

      a {
        text-decoration: none;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .casino-guides-box-logo {
          svg {
            width: 45px;
            height: 55px;
          }
        }

        .casino-guides-box-text {
          margin-top: 15px;

          p {
            line-height: 18px;
            font-size: 13px;
            color: #FFFFFF;

            span {
              color: #8e8e98;
            }

            @media only screen and (max-width: $mini-breakpoint) {
              font-size: 12px;
            }
          }
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 49%;
      }

      @media only screen and (max-width: $small-breakpoint) {
        width: 100%;
      }

      &:hover {
        background-color: #141414;
        transition: 0.5s;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      flex-flow: wrap;
      flex-direction: row;
    }
  }

  .casino-guides-paragraph {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 38px 31px 40px 31px;
    border: 1px solid #39393d;
    border-radius: 5px;

    h2 {
      font-size: 33px;
      font-weight: 700;
      color: #FFFFFF;
      margin-bottom: 25px;
      line-height: 33px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }

    p {
      font-size: 16px;
      line-height: 23px;
      color: #8e8e98;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 14px;
      }
    }

    ul {
      list-style: none;

      li {
        margin-bottom: -15px;
        display: flex;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 5px;

        &:before {
          content: "\f067";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 15px;
          height: 15px;
          color: #f53b3b;
          margin-right: 2px;
          margin-left: 30px;
          font-size: 9px;
        }
      }
    }

    a {
      text-decoration: none;
      color: #FFFFFF;

      &:hover {
        border-bottom: 1px solid;
      }
    }
  }

  .casino-page-info-paragraph {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 38px 31px 40px 31px;
    border: 1px solid #39393d;
    border-radius: 5px;
    font-size: 16px;
    line-height: 23px;
    color: #8e8e98;

    h1 {
      font-size: 33px;
      font-weight: 700;
      color: #FFFFFF;
      margin-bottom: 10px;
      line-height: 33px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }

    h2 {
      font-size: 33px;
      font-weight: 700;
      color: #FFFFFF;
      margin-top: 20px;
      line-height: 22px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      color: #FFFFFF;
      margin-top: 20px;
      line-height: 33px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }

    p {
      font-size: 16px;
      line-height: 23px;
      color: #8e8e98;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 14px;
      }
    }

    ul {
      list-style: none;

      li {
        margin-bottom: -15px;
        display: flex;

        &:before {
          content: "\f067";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 15px;
          height: 15px;
          color: #f53b3b;
          margin-right: 2px;
          margin-left: 30px;
          font-size: 9px;
        }
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      font-size: 14px;
    }

    .casino-page-button {
      .back-button {
        font-size: 15px;
        color: #47474c;
        width: 100%;
        cursor: pointer;
        background-color: #0b0b0b;
        margin-top: 40px;
        height: 58px;
        border: 1px solid #47474c;
        border-radius: 5px;
        transition: 0.5s;

        &:hover {
          background-color: #000000;
          transition: 0.5s;
        }
      }
    }

    &.info-info {
      margin-bottom: 0;

      h1 {
        margin-bottom: 0;
      }

      p {
        margin-top: 30px;
      }
    }

    &.info-info-second {
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: $mini-breakpoint) {
    margin-top: 30px;
  }
}

.guides-and-tips {
  .guides-and-tips-text {

    h2 {
      font-weight: 700;
      font-size: 33px;
      color: #FFFFFF;

      span {
        font-weight: 600;
        color: #8e8e98;
      }

      svg {
        width: 55px;
        height: 27px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }
  }
}

.guides-tips-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .guides-tips-box {
    height: 460px;
    width: 330px;
    background-color: #1c1c1e;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    position: relative;

    .guides-tips-box-logo {

      svg {
        width: 60px;
        height: 70px;
      }
    }

    .guides-tips-box-text {
      margin-top: 10px;

      h3 {
        font-size: 33px;
        color: #FFFFFF;
        font-weight: bold;

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 25px;
        }
      }
    }

    .guides-tips-box-paragraph {
      margin-top: 50px;

      p {
        font-size: 13px;
        color: #8e8e98;
        line-height: 18px;

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 12px;
        }
      }

      @media only screen and (max-width: $mini-breakpoint) {
        margin-top: 30px;
      }
    }

    .guides-tips-box-button-dik {
      position: absolute;
      bottom: 20px;
      width: 85%;

      .guides-tips-box-button {
        display: flex;
        align-items: center;
        margin-top: 30px;
        height: 60px;
        border: 1px solid #8e8e98;
        border-radius: 5px;
        transition: 0.5s;

        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 15px;
          color: #FFFFFF;
          width: 100%;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 13px;
          }
        }

        &:hover {
          background-color: #8e8e98;
          transition: 0.5s;
        }
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 49%;
    }

    @media only screen and (max-width: $small-breakpoint) {
      width: 100%;
    }
  }

  @media only screen and (max-width: $large-breakpoint) {
    width: 100%;
    flex-flow: wrap;
    flex-direction: row;
  }
}

footer {

.footer-menu-background {
  background-color: #000000;

  .footer-logo-text-menu {
    display: flex;
    width: 1052px;
    margin: 0 auto;

    .footer-logo-text {
      width: 655px;

      p {
        margin-top: 20px;
        font-size: 12px;
        line-height: 20px;
        color: #47474c;

        a {
          text-decoration: none;
          color: #8e8e98;
          transition: 0.5s;

          &:hover {
            color: #e9e9e9;
            transition: 0.5s;
          }
        }
      }

      img {
        width: 170px;
        height: 66px;
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 100%;
      }
    }

    .footer-menus {
      display: flex;

      .footer-menu {
        margin-left: 125px;

        p {
          font-size: 16px;
          color: #8e8e98;
          margin-bottom: 12px;
        }

        .menu-footer-menu-container {
          .menu {
            list-style: none;

            li {
              margin-bottom: 12px;

            a {
              text-decoration: none;
              font-size: 16px;
              color: #47474c;
              transition: 0.5s;

              &:hover {
                color: #8e8e98;
                transition: 0.5s;
              }
            }

              &.current-menu-item {
                a {
                  color: #8e8e98;
                }
              }
           }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          margin-left: 0;
        }
      }

      .footer-menu-2 {
        margin-left: 100px;

        p {
          font-size: 16px;
          color: #8e8e98;
          margin-bottom: 12px;
        }

        .menu-footer-menu-2-container {
          .menu {
            list-style: none;

            li {
              margin-bottom: 12px;

            a {
              text-decoration: none;
              font-size: 16px;
              color: #47474c;
              transition: 0.5s;

              &:hover {
                color: #8e8e98;
                transition: 0.5s;
              }
             }

              &.current-menu-item {
                a {
                  color: #8e8e98;
                }
              }
            }
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          margin-left: 40px;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        justify-content: center;
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
      flex-direction: column;
    }
  }

  .footer-logo {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;

    a {
      display: flex;
      align-items: center;

      @media only screen and (max-width: $small-breakpoint) {
        margin-bottom: 20px;
      }

      img {
        height: 25px;
        margin-left: 20px;

        @media only screen and (max-width: $small-breakpoint) {
          height: 20px;
          margin-left: 0;
        }
      }

      .footer-icon {
        @media only screen and (max-width: $small-breakpoint) {
          margin-right: 0;
        }
      }

      .footer-icon-hover {
        display: none;
      }

      &:hover {
        .footer-icon {
          display: none;
        }

        .footer-icon-hover {
          display: block;
        }
      }
    }

    @media only screen and (max-width: $small-breakpoint) {
      flex-direction: column;
      height: auto;
      padding-top: 15px;
    }

    @media only screen and (max-width: $large-breakpoint) {
      margin-top: 0;
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 35px;
    padding-bottom: 35px;

    span {
      font-weight: 800;
    }

    @media only screen and (max-width: $small-breakpoint) {
      margin-top: 0;
    }
  }
}

}